@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

:root {
  --clr-bk: #fcfaf9;
  --clr-text: #333333;
  --clr-message-bk: #bb9ab1;
  --clr-save-btn: #938acd;
  --clr-remove-btn: #a697cf;
  --clr-primary: #8d77ab;
  --clr-secondary: #fada7a;
  --clr-happy: #ffddcc;
  --clr-sad: #aec6cf;
  --clr-tired: #d2b48c;
  --clr-excited: #fff4b2;
  --typewriter-speed: 5s;
  --typewriter-charaters: 27;
}

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--clr-bk);
  color: var(--clr-text);
  line-height: 1.6;
  padding: 1.5em;
  transition: background-color 0.5s ease;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: var(--clr-primary);
}

p {
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--clr-text);
}

/* Mood background */
.happy {
  background-color: var(--clr-happy);
}
.sad {
  background-color: var(--clr-sad);
}
.tired {
  background-color: var(--clr-sad);
}
.excited {
  background-color: var(--clr-excited);
}
.happy_tired {
  background: linear-gradient(70deg, var(--clr-happy), var(--clr-tired));
}
.excited_happy {
  background: linear-gradient(110deg, var(--clr-excited), var(--clr-happy));
}

.excited_sad {
  background: linear-gradient(350deg, var(--clr-excited), var(--clr-sad));
}

.sad_tired {
  background: linear-gradient(90deg, var(--clr-sad), var(--clr-tired));
}

.excited_tired {
  background: linear-gradient(120deg, var(--clr-excited), var(--clr-tired));
}

.happy_sad {
  background: linear-gradient(200deg, var(--clr-happy), var(--clr-sad));
}

.three-moods {
  background: linear-gradient(
    200deg,
    var(--clr-happy),
    var(--clr-sad),
    var(--clr-excited)
  );
}

.four-moods {
  background: linear-gradient(
    120deg,
    var(--clr-excited),
    var(--clr-sad),
    var(--clr-happy),
    var(--clr-tired)
  );
  animation: gradientShift 7s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header,
.container {
  background-color: var(--clr-bk);
}

/* Headings */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 8px;
}
h1 {
  font-size: clamp(2rem, 2vw, 5rem);
  color: var(--clr-primary);
  text-align: center;
}

.tagline {
  font-size: clamp(1.5rem, 1.8vw, 3rem);
  position: relative;
  width: max-content;
  margin-bottom: 1em;
}

/* tagline animation */

.tagline::before,
.tagline::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tagline::before {
  background: var(--clr-bk);
  animation: typewriter var(--typewriter-speed)
    steps(var(--typewriter-charaters)) 1s forwards;
}

.tagline::after {
  width: 0.08em;
  background: var(--clr-text);
  animation:
    typewriter var(--typewriter-speed) steps(var(--typewriter-charaters)) 1s
      forwards,
    blink 1s steps(28) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

/* Containers */
.container {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin: 0 auto;
  padding: 1.875em;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Checkbox */
.checkbox-field {
  border: 1px solid transparent;
  border-top-color: var(--clr-text);
  padding: 2em;
}

legend {
  margin: auto;
  padding: 0 1em;
  font-size: clamp(1.3rem, 1.6vw, 1.6rem);
}

.checkbox {
  font-size: 1.25rem;
  position: relative;
  background: var(--clr-primary);
  border-radius: 1.25em;
  width: 3em;
  height: 1.5em;
  margin-bottom: 1em;
}

.checkbox input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: absolute;
}

.checkbox input[type="checkbox"]::before {
  content: "";
  background: #fff;
  border-radius: 1.25em;
  position: absolute;
  top: 14%;
  left: -41%;
  height: 70%;
  width: 85%;
}

.checkbox input[type="checkbox"]::after {
  background: var(--clr-message-bk);
  content: "";
  border-radius: 1.25em;
  height: 1.2em;
  width: 1.2em;
  opacity: 0.6;
  position: absolute;
  transform: translate(-1.8em, -50%);
  top: 50%;
  transition: all 0.4s;
}

.checkbox input[type="checkbox"]:checked::after {
  background: #fff;
  opacity: 1;
  transform: translate(50%, -50%);
}

.checkbox input[type="checkbox"]:checked::before {
  background: var(--clr-btn-bk);
}

label {
  position: absolute;
  left: 4em;
}

/* Buttons */

.btn-container {
  display: flex;
  gap: 2em;
  justify-content: center;
}

button {
  font-family: "Montserrat", sans-serif;
  background-color: var(--clr-message-bk);
  color: var(--clr-bk);
  border: none;
  width: 10em;
  border-radius: 10px;
  padding: 0.7em;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center;
}

button:active {
  transform: translateY(3px);
}

.btn-save {
  background-color: var(--clr-save-btn);
}

.btn-remove {
  background-color: var(--clr-remove-btn);
}

/* Mood Messages */
.message {
  margin-top: 1.25em;
  padding: 1.25em 1.5em;
  background-color: var(--clr-message-bk);
  border-radius: 10px;
  width: clamp(100%, 90%, 60%);
  align-self: center;
}

.message p {
  text-align: center;
  font-size: 1.25rem;
  color: #fff;
  font-weight: 500;
}

/* Footer
footer {
  text-align: center;
  font-size: 1rem;
  margin-top: 30px;
  color: var(--clr-btn-bk);
}

footer p {
  margin: 5px 0;
} */
